body {
    line-height: 1.75;
}

header {
    margin-bottom: 1.5rem;
}

h1 {
    margin-bottom: .5rem;
    text-align: center;
}

h1,h2, span.byline {
    display: block;
    text-align: center;
}

section {
    margin-bottom: 1.5rem;
    padding: 0 1.5rem;
}

svg {
    background-color: #fff;
    width: 100%;
}